/* * Important*/
/* ! Alert */
/* Todo */

:root {
  --blue: #10798a;
  --yellow: #ffe356;
  --leogreen: #e3ebc7;
  --grid-color: rgba(255, 255, 255, 0.164);
}

* {
  box-sizing: border-box;
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  font-size: 16px;
  background: linear-gradient(190deg, var(--yellow), var(--blue));
  justify-content: center;
}

.container {
  margin: 10px;
  display: grid;
  grid-gap: 20px;
  grid-template-areas:
    "hero"
    "menu"
    "content"
    "contact"
    "footer";
  grid-template-rows: repeat(5, auto);
}

header {
  background: url(../images/header320w.png) center;
  grid-area: hero;
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  max-width: 540px;
}

header p {
  padding: 5px;
  background: var(--yellow);
  position: absolute;
  display: flex;
  align-items: center;
}

.menu ul {
  display: grid;
  grid-gap: 10px;
  padding: 0;
  list-style: none;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.menu a {
  background: var(--yellow);
  display: block;
  text-decoration: none;
  padding: 10px;
  text-align: center;
  color: var(--black);
  text-transform: uppercase;
  font-size: 1rem;
}
.features {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.feature {
  background: white;
  padding: 10px;
  border: 1px solid white;
  text-align: center;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

.feature .icon {
  font-size: 50px;
}
.feature p {
  color: rgba(0, 0, 0, 0.5);
}

.contact {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  padding: 10px;
  background: var(--grid-color);
}

.maps {
  width: 200px;
}

.openingstijden {
  margin-top: 20px;
  margin-bottom: 20px;
}

address {
  margin-bottom: 5px;
  width: 260px;
}

iframe {
  width: 80%;
  height: 200px;
  border: none;
}

.img_spar {
  width: minmax(300px, 30%);
}
.img_20jaar {
  width: 100px;
}

.contact p {
  width: 260px;
}
.content {
  display: grid;
  justify-items: center;
  background: var(--grid-color);
}

.img_impressions {
  width: 300px;
  height: 200px;
}

.img_brood {
  max-width: 200px;
}
.img_fruit {
  max-width: 200px;
}
.img_beleg {
  max-width: 200px;
}

.verseproducten {
  display: grid;

  justify-items: center;
}

h3 {
  display: flex;
  justify-content: center;
}

.content p {
  padding: 10px;
}

button {
  background: var(--yellow);
  border: 0;
  padding: 10px 20px;
}

footer {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: auto auto;
  background: var(--grid-color);
}

#menu-links {
  display: grid;
  visibility: hidden;
  height: 0;
  transition: 0.5s; /* * volgens zorgt de transition voor een vertraagd effect naar mobile toe */
}

@media only screen and (min-width: 768px) {
  * {
    font-size: 1.1rem;
  }

  header {
    /* lijkt er op dat ik alles opnieuw eigenschappen moet geven bij inladen van ander plaatje */
    background: url(../images/header768w.png) center center;
    grid-area: hero;
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    max-width: 900px;
  }

  button {
    display: none;
  }

  #menu-links {
    display: grid;
    visibility: unset !important; /* important nodig om het menu zichtbaar te maken bij resizen nadat deze op mobile ingeklapt is */
    height: 100% !important;
    transition: unset !important;
    transform: unset !important;
  }

  .verseproducten {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 300px));
    justify-content: center;
  }

  .content {
    justify-items: unset;
  }

  .img_impressions {
    justify-self: center;
    width: 510px;
    height: 340px;
  }

  .img_brood {
    width: 100%;
  }

  .img_fruit {
    width: 100%;
  }

  .img_beleg {
    width: 100%;
  }

  @media only screen and (min-width: 1024px) {
    .container {
      grid-template-areas:
        "hero hero hero"
        "menu menu menu"
        "contact content content"
        "contact content content"
        "footer footer footer";
      grid-template-columns: 1fr 2fr 2fr;
      grid-template-rows: repeat(5, auto);
    }

    .menu {
      grid-area: menu;
    }

    .contact {
      grid-area: contact;
    }
    footer {
      grid-area: footer;
    }

    .content {
      grid-area: content;
    }
  }

  @media only screen and (min-width: 1200px) {
    .container {
      width: 1200px;
    }
  }
}
